/* src/styles/global.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can customize and extend Tailwind styles here */
.btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
body.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}
input[type="checkbox"],
select {
  margin-right: 8px;
}
.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
}

.row {
  display: flex;
}
.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 400px; /* Adjust the total width of the chessboard */
  height: 400px; /* Adjust the total height of the chessboard */
}

.square {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 24px; /* Adjust the font size as needed */
}
