/* src/styles/global.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can customize and extend Tailwind styles here */
.btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
body.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}
input[type="checkbox"],
select {
  margin-right: 8px;
}
